RewriteEngine on



RewriteRule ^(index)/(json) index.php?format=json
RewriteRule index index.php [NC]
#RewriteRule ^([a-zA-z0-9]+) 404.php

#RewriteRule ^([a-zA-z]+)/([0-9]+) results.php?page=$1&pageid=$2
